body {
  margin:0;
  width: 100%;
  height:100%;
  background-color: #C0C0C0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E36161;
  position: fixed;
  top: 150px;
  width: 100%;
}

li {
  float: left;
  width: 20%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  background: #3F3D38;
}

.active {
  background: #C0C0C0;
  color: black;
}

.header {
  color: #E36161;
  background-image: url("../images/background.jpg");
  background-position: center;
  padding: 20px;
  margin-top:-220px;
  height:110px;
  position:fixed;
  width: 100%;
}

.github {
	width : 35px;
	hieght : 35px;
	margin-top : 5px;
	margin-left: 15px;
	margin-right: 15px;
	border: 2px solid white;
    border-radius: 50px;
}

.linkedin {
	width : 37px;
	hieght : 37px;
	margin-top : 7px;
	margin-left: 15px;
	margin-right: 15px;
}

.body {
  margin-top: 220px;
  background-color: #C0C0C0;
  height: 100%;
  width: 100%;
}

.text {
  width: 750px;
  margin: auto;
  text-align: center;
}

form {
  width: 750px;
  margin: auto;
  font-size: 20px;
  text-align: center;
  border: 1px solid #E36161;
}

input[type=submit] {
  background-color: #E36161;
  color: white;
  font-size: 20px;
  width: auto;
  height: auto;
}

input[type=text] {
  font-size: 20px;
  border: 2px solid #E36161;
}

input[type=email] {
  font-size: 20px;
  border: 2px solid #E36161;
}

textarea{
  font-size: 20px;
  border: 2px solid #E36161;
  width : 650px;
  height : 200px;
  max-width: 725px;
}

.project{
  width: 900px;
  margin: auto;
  text-align: center;
  border: 2px solid #E36161;
  height : auto;
}
