#header{
  width:100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #333;
  border: 1px solid black;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-bottom: 10px;
}

.imageHeader{
  display:inline-block;
  border-radius: 2px;
  margin:6px;
}

.project{
  width:100%;
  background-color: #333;
  border: 1px solid black;
  border-radius: 5px;
  display:block;
  margin: 0px;
}

.title{
  color:white;
  border-bottom: 2px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
  display:block;
}

.footer{
  color:white;
  display:block;
  padding: 5px;
}

.description{
  display:block;
  margin-top: 0;
  background-color: #999999;
  margin-bottom: 10px;
  border-bottom: 2px solid black
}

a.external:link, a.external:visited{
  color:blue;
}
