.project {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  max-width: 900px;
  text-align: center;
  margin: 40px auto;
  padding: 10px; }
  @media screen and (min-width: 2200px) {
    .project {
      max-width: 1500px; } }

.projectIntro {
  margin: 10px; }
  .projectIntro h1 {
    margin: 10px; }
  .projectIntro p {
    font-size: 1.2rem;
    margin: 10px; }
    @media screen and (max-width: 700px) {
      .projectIntro p {
        font-size: 1rem; } }
    @media screen and (min-width: 2200px) {
      .projectIntro p {
        font-size: 1.5rem; } }
  .projectIntro button {
    font-size: 1.2rem;
    border: 2px solid #f7b733;
    background-color: white;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer; }
    @media screen and (max-width: 700px) {
      .projectIntro button {
        font-size: 1rem; } }
    @media screen and (min-width: 2200px) {
      .projectIntro button {
        font-size: 1.5rem; } }
    .projectIntro button:hover {
      background-color: #f7b733; }
    .projectIntro button:focus {
      outline: none; }

.projectContent {
  display: none; }

.textProject {
  font-size: 1.2rem;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left; }
  @media screen and (max-width: 700px) {
    .textProject {
      font-size: 1rem; } }
  @media screen and (min-width: 2200px) {
    .textProject {
      font-size: 1.5rem; } }

.tools {
  font-size: 1rem; }
  @media screen and (max-width: 700px) {
    .tools {
      font-size: 1rem; } }
  @media screen and (min-width: 2200px) {
    .tools {
      font-size: 1.5rem; } }
  .tools p {
    display: inline-block;
    border: 1px solid #f7b733;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px; }

.pictureDesciption {
  margin-top: 25px;
  display: inline-block;
  max-height: 500px;
  max-width: 93%; }
  .pictureDesciption img {
    max-height: 500px;
    max-width: 93%; }
  .pictureDesciption p {
    margin: 0 auto;
    max-width: 85%; }

.backToTop {
  margin-top: 20px;
  text-decoration: underline;
  color: #fc4a1a;
  cursor: pointer; }

/* .traveler{
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.traveler p{
  border: 2px solid #f7b733;
  margin: 10px;
  font-size: 1.3rem;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  display: flex;          
  flex-direction: column;   
  justify-content: center;   
  align-items: center;       
}

.traveler p:hover{
  background-color: #f7b733;
} */
